page-item-detail {
font-size: 20px;
font-family:comic sans ms;


  .item-profile {

    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
  font-size: 19px;
    width: 100%;
    background: white;
    position: absolute;
    color:#032b56;
  }
}
